# DATA PREPROCESSING

In [1]:
#TO PRE-PROCESS DATA\n",
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#TO READ CSV FILE
data = pd.read_csv("final_data.csv")

In [4]:
data

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,...,brightness,scan,track,bright_t31,frp,city,state,plant_type,longitude,latitude
0,-5.0,38.750,0.000414,5.420000e-08,2,2021,01-02-21,NaN,NaN,NaN,...,334.72,1.44,1.12,306.50,23.90,NaN,NaN,NaN,NaN,NaN
1,-5.0,38.750,0.000414,3.570000e-08,3,2021,01-03-21,NaN,NaN,NaN,...,330.70,1.15,1.05,306.35,14.65,NaN,NaN,NaN,NaN,NaN
2,-5.0,38.750,0.000404,5.430000e-08,3,2017,01-03-17,76316.340,NaN,NaN,...,326.80,1.00,1.00,304.70,13.90,NaN,NaN,NaN,NaN,NaN
3,-5.0,38.750,0.000398,2.360000e-08,1,2015,01-01-15,71487.750,NaN,NaN,...,325.20,1.10,1.00,304.00,10.10,NaN,NaN,NaN,NaN,NaN
4,-5.0,38.750,0.000399,1.800000e-08,3,2015,01-03-15,71487.750,NaN,NaN,...,329.43,2.04,1.36,301.93,33.81,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,4.5,35.000,0.000407,4.340000e-08,11,2018,01-11-18,33335.830,NaN,NaN,...,330.78,1.36,1.14,303.52,32.38,NaN,NaN,NaN,NaN,NaN
5379,4.5,35.625,0.000415,5.680000e-08,5,2021,01-05-21,NaN,NaN,NaN,...,306.20,2.10,1.40,272.70,10.10,NaN,NaN,NaN,NaN,NaN
5380,4.5,35.625,0.000414,4.840000e-08,1,2021,01-01-21,NaN,NaN,NaN,...,340.45,1.60,1.20,314.00,47.65,NaN,NaN,NaN,NaN,NaN
5381,4.5,35.625,0.000401,4.260000e-08,12,2015,01-12-15,16838.428,NaN,NaN,...,312.90,4.00,1.90,289.50,57.50,NaN,NaN,NaN,NaN,NaN
5382,4.5,35.625,0.000411,3.390000e-08,9,2020,01-09-20,19669.621,NaN,NaN,...,337.35,1.00,1.00,308.50,19.45,NaN,NaN,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5383 entries, 0 to 5382
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   lat                         5383 non-null   float64
 1   lon                         5383 non-null   float64
 2   XCO2 (mol CO2/mol dry)      5383 non-null   float64
 3   XCO2PREC (mol CO2/mol dry)  5383 non-null   float64
 4   Month                       5383 non-null   int64
 5   Year                        5383 non-null   int64
 6   DATE                        5383 non-null   object
 7   population                  4561 non-null   float64
 8   primary_fuel                1130 non-null   object
 9   commissioning_year          1130 non-null   float64
 10  capacity_mw                 1130 non-null   float64
 11  city_ascii                  3364 non-null   object
 12  capital                     1779 non-null   object
 13  city_pop_2022               2643 non-null   float64
 14  month                       5383 non-null   int64
 15  brightness                  5383 non-null   float64
 16  scan                        5383 non-null   float64
 17  track                       5383 non-null   float64
 18  bright_t31                  5383 non-null   float64
 19  frp                         5383 non-null   float64
 20  city                        1314 non-null   object
 21  state                       1314 non-null   object
 22  plant_type                  1584 non-null   object
 23  longitude                   1584 non-null   float64
 24  latitude                    1584 non-null   float64
dtypes: float64(15), int64(3), object(7)
memory usage: 1.0+ MB

In [6]:
data.isnull().sum()

lat                              0
lon                              0
XCO2 (mol CO2/mol dry)           0
XCO2PREC (mol CO2/mol dry)       0
Month                            0
Year                             0
DATE                             0
population                     822
primary_fuel                  4253
commissioning_year            4253
capacity_mw                   4253
city_ascii                    2019
capital                       3604
city_pop_2022                 2740
month                            0
brightness                       0
scan                             0
track                            0
bright_t31                       0
frp                              0
city                          4069
state                         4069
plant_type                    3799
longitude                     3799
latitude                      3799
dtype: int64

In [7]:
data.shape

(5383, 25)

In [8]:
data['primary_fuel'].isnull().sum()

4253

In [9]:
data['primary_fuel'].notnull().sum()

1130

In [10]:
data[data['primary_fuel'].notnull()]

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,...,brightness,scan,track,bright_t31,frp,city,state,plant_type,longitude,latitude
67,-4.5,39.375,0.000415,2.940000e-08,11,2021,01-11-21,NaN,Oil,1999.0,...,333.64,1.32,1.14,304.64,37.34,Mombasa,Mombasa County,Cement,39.375,-4.5
68,-4.5,39.375,0.000415,2.940000e-08,11,2021,01-11-21,NaN,Oil,1999.0,...,333.64,1.32,1.14,304.64,37.34,NaN,NaN,Oil refineries,39.375,-4.5
69,-4.5,39.375,0.000415,2.940000e-08,11,2021,01-11-21,NaN,Oil,1999.0,...,333.64,1.32,1.14,304.64,37.34,Mombasa,Mombasa County,Cement,39.375,-4.5
70,-4.5,39.375,0.000415,2.940000e-08,11,2021,01-11-21,NaN,Oil,1999.0,...,333.64,1.32,1.14,304.64,37.34,NaN,NaN,Oil refineries,39.375,-4.5
71,-4.5,39.375,0.000415,2.940000e-08,11,2021,01-11-21,NaN,Oil,2001.0,...,333.64,1.32,1.14,304.64,37.34,Mombasa,Mombasa County,Cement,39.375,-4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5022,2.5,36.250,0.000415,6.500000e-08,6,2021,01-06-21,NaN,Wind,2017.0,...,329.72,1.72,1.25,295.02,38.48,NaN,NaN,NaN,NaN,NaN
5023,2.5,36.250,0.000405,7.000000e-08,3,2017,01-03-17,19910.800,Wind,2017.0,...,338.30,1.00,1.00,315.05,14.30,NaN,NaN,NaN,NaN,NaN
5026,2.5,36.250,0.000410,7.190000e-08,6,2019,01-06-19,21197.383,Wind,2017.0,...,323.50,3.70,1.80,296.20,60.40,NaN,NaN,NaN,NaN,NaN
5027,2.5,36.250,0.000409,5.190000e-08,11,2019,01-11-19,21197.383,Wind,2017.0,...,317.00,4.40,1.90,292.00,59.50,NaN,NaN,NaN,NaN,NaN
5028,2.5,36.250,0.000409,5.520000e-08,2,2019,01-02-19,21197.383,Wind,2017.0,...,364.58,1.02,1.00,312.70,85.85,NaN,NaN,NaN,NaN,NaN

In [11]:
#Create Year-Month column
data['year_month'] = data['Year'].astype(str) + "-" + data['Month'].astype(str)

In [12]:
#data = data.drop(['year_month'], axis=1)

In [13]:
data

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,...,scan,track,bright_t31,frp,city,state,plant_type,longitude,latitude,year_month
0,-5.0,38.750,0.000414,5.420000e-08,2,2021,01-02-21,NaN,NaN,NaN,...,1.44,1.12,306.50,23.90,NaN,NaN,NaN,NaN,NaN,2021-2
1,-5.0,38.750,0.000414,3.570000e-08,3,2021,01-03-21,NaN,NaN,NaN,...,1.15,1.05,306.35,14.65,NaN,NaN,NaN,NaN,NaN,2021-3
2,-5.0,38.750,0.000404,5.430000e-08,3,2017,01-03-17,76316.340,NaN,NaN,...,1.00,1.00,304.70,13.90,NaN,NaN,NaN,NaN,NaN,2017-3
3,-5.0,38.750,0.000398,2.360000e-08,1,2015,01-01-15,71487.750,NaN,NaN,...,1.10,1.00,304.00,10.10,NaN,NaN,NaN,NaN,NaN,2015-1
4,-5.0,38.750,0.000399,1.800000e-08,3,2015,01-03-15,71487.750,NaN,NaN,...,2.04,1.36,301.93,33.81,NaN,NaN,NaN,NaN,NaN,2015-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,4.5,35.000,0.000407,4.340000e-08,11,2018,01-11-18,33335.830,NaN,NaN,...,1.36,1.14,303.52,32.38,NaN,NaN,NaN,NaN,NaN,2018-11
5379,4.5,35.625,0.000415,5.680000e-08,5,2021,01-05-21,NaN,NaN,NaN,...,2.10,1.40,272.70,10.10,NaN,NaN,NaN,NaN,NaN,2021-5
5380,4.5,35.625,0.000414,4.840000e-08,1,2021,01-01-21,NaN,NaN,NaN,...,1.60,1.20,314.00,47.65,NaN,NaN,NaN,NaN,NaN,2021-1
5381,4.5,35.625,0.000401,4.260000e-08,12,2015,01-12-15,16838.428,NaN,NaN,...,4.00,1.90,289.50,57.50,NaN,NaN,NaN,NaN,NaN,2015-12
5382,4.5,35.625,0.000411,3.390000e-08,9,2020,01-09-20,19669.621,NaN,NaN,...,1.00,1.00,308.50,19.45,NaN,NaN,NaN,NaN,NaN,2020-9

In [14]:
data.dtypes

lat                           float64
lon                           float64
XCO2 (mol CO2/mol dry)        float64
XCO2PREC (mol CO2/mol dry)    float64
Month                           int64
Year                            int64
DATE                           object
population                    float64
primary_fuel                   object
commissioning_year            float64
capacity_mw                   float64
city_ascii                     object
capital                        object
city_pop_2022                 float64
month                           int64
brightness                    float64
scan                          float64
track                         float64
bright_t31                    float64
frp                           float64
city                           object
state                          object
plant_type                     object
longitude                     float64
latitude                      float64
year_month                     object
dtype: object

In [15]:
data['primary_fuel'] = data['primary_fuel'].fillna("Unknown")

In [16]:
data[(data['primary_fuel'] == "Unknown") ]

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,...,scan,track,bright_t31,frp,city,state,plant_type,longitude,latitude,year_month
0,-5.0,38.750,0.000414,5.420000e-08,2,2021,01-02-21,NaN,Unknown,NaN,...,1.44,1.12,306.50,23.90,NaN,NaN,NaN,NaN,NaN,2021-2
1,-5.0,38.750,0.000414,3.570000e-08,3,2021,01-03-21,NaN,Unknown,NaN,...,1.15,1.05,306.35,14.65,NaN,NaN,NaN,NaN,NaN,2021-3
2,-5.0,38.750,0.000404,5.430000e-08,3,2017,01-03-17,76316.340,Unknown,NaN,...,1.00,1.00,304.70,13.90,NaN,NaN,NaN,NaN,NaN,2017-3
3,-5.0,38.750,0.000398,2.360000e-08,1,2015,01-01-15,71487.750,Unknown,NaN,...,1.10,1.00,304.00,10.10,NaN,NaN,NaN,NaN,NaN,2015-1
4,-5.0,38.750,0.000399,1.800000e-08,3,2015,01-03-15,71487.750,Unknown,NaN,...,2.04,1.36,301.93,33.81,NaN,NaN,NaN,NaN,NaN,2015-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5378,4.5,35.000,0.000407,4.340000e-08,11,2018,01-11-18,33335.830,Unknown,NaN,...,1.36,1.14,303.52,32.38,NaN,NaN,NaN,NaN,NaN,2018-11
5379,4.5,35.625,0.000415,5.680000e-08,5,2021,01-05-21,NaN,Unknown,NaN,...,2.10,1.40,272.70,10.10,NaN,NaN,NaN,NaN,NaN,2021-5
5380,4.5,35.625,0.000414,4.840000e-08,1,2021,01-01-21,NaN,Unknown,NaN,...,1.60,1.20,314.00,47.65,NaN,NaN,NaN,NaN,NaN,2021-1
5381,4.5,35.625,0.000401,4.260000e-08,12,2015,01-12-15,16838.428,Unknown,NaN,...,4.00,1.90,289.50,57.50,NaN,NaN,NaN,NaN,NaN,2015-12
5382,4.5,35.625,0.000411,3.390000e-08,9,2020,01-09-20,19669.621,Unknown,NaN,...,1.00,1.00,308.50,19.45,NaN,NaN,NaN,NaN,NaN,2020-9

## Plotting

In [17]:
#Sort the data to sort the x-axis
data=data.sort_values(by=['Year', "Month"])

In [18]:
data

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,...,scan,track,bright_t31,frp,city,state,plant_type,longitude,latitude,year_month
3,-5.0,38.750,0.000398,2.360000e-08,1,2015,01-01-15,71487.75,Unknown,NaN,...,1.10,1.00,304.00,10.10,NaN,NaN,NaN,NaN,NaN,2015-1
49,-4.5,38.750,0.000398,2.390000e-08,1,2015,01-01-15,229374.72,Unknown,NaN,...,1.52,1.20,307.92,22.78,NaN,NaN,NaN,NaN,NaN,2015-1
187,-4.5,39.375,0.000398,2.200000e-08,1,2015,01-01-15,1190632.50,Oil,1999.0,...,1.10,1.00,306.50,23.25,Mombasa,Mombasa County,Cement,39.375,-4.5,2015-1
188,-4.5,39.375,0.000398,2.200000e-08,1,2015,01-01-15,1190632.50,Oil,1999.0,...,1.10,1.00,306.50,23.25,NaN,NaN,Oil refineries,39.375,-4.5,2015-1
189,-4.5,39.375,0.000398,2.200000e-08,1,2015,01-01-15,1190632.50,Oil,1999.0,...,1.10,1.00,306.50,23.25,Mombasa,Mombasa County,Cement,39.375,-4.5,2015-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5208,4.0,33.750,0.000416,4.910000e-08,12,2021,01-12-21,NaN,Unknown,NaN,...,1.25,1.10,300.00,21.00,NaN,NaN,NaN,NaN,NaN,2021-12
5237,4.0,34.375,0.000416,4.650000e-08,12,2021,01-12-21,NaN,Unknown,NaN,...,1.10,1.10,313.20,10.70,NaN,NaN,NaN,NaN,NaN,2021-12
5263,4.0,35.000,0.000416,4.360000e-08,12,2021,01-12-21,NaN,Unknown,NaN,...,1.40,1.20,306.60,11.20,NaN,NaN,NaN,NaN,NaN,2021-12
5300,4.5,34.375,0.000416,4.700000e-08,12,2021,01-12-21,NaN,Unknown,NaN,...,1.30,1.13,302.76,14.96,NaN,NaN,NaN,NaN,NaN,2021-12
5345,4.5,35.000,0.000416,4.400000e-08,12,2021,01-12-21,NaN,Unknown,NaN,...,1.47,1.18,305.82,25.25,NaN,NaN,NaN,NaN,NaN,2021-12

In [19]:
myx = data[(data['Year'] == 2015) & (data['primary_fuel'] == 'Oil')]['year_month']
myy = data[(data['Year'] == 2015) & (data['primary_fuel'] == 'Oil')]['XCO2 (mol CO2/mol dry)']

In [19]:
plt.barplot(myx, myy, label='Oil')
plt.legend()
plt.show()

AttributeError: module 'matplotlib.pyplot' has no attribute 'barplot'