# DATA PREPROCESSING

In [1]:
#TO PRE-PROCESS DATA\n",
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#TO READ CSV FILE
data = pd.read_csv(r"E:\final data.csv")

In [3]:
data

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,capacity_mw,city_ascii,capital,city_pop_2022,month,brightness,scan,track,bright_t31,frp
0,-5.0,38.750,0.000414,5.421756e-08,2,2021,2021-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,334.72,1.44,1.12,306.50,23.90
1,-5.0,38.750,0.000414,3.570844e-08,3,2021,2021-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,330.70,1.15,1.05,306.35,14.65
2,-5.0,38.750,0.000404,5.427318e-08,3,2017,2017-03-01,76316.340,NaN,NaN,NaN,NaN,NaN,NaN,3,326.80,1.00,1.00,304.70,13.90
3,-5.0,38.750,0.000398,2.360435e-08,1,2015,2015-01-01,71487.750,NaN,NaN,NaN,NaN,NaN,NaN,1,325.20,1.10,1.00,304.00,10.10
4,-5.0,38.750,0.000399,1.796053e-08,3,2015,2015-03-01,71487.750,NaN,NaN,NaN,NaN,NaN,NaN,3,329.43,2.04,1.36,301.93,33.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,4.5,35.000,0.000407,4.341377e-08,11,2018,2018-11-01,33335.830,NaN,NaN,NaN,NaN,NaN,NaN,11,330.78,1.36,1.14,303.52,32.38
4227,4.5,35.625,0.000415,5.676942e-08,5,2021,2021-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,306.20,2.10,1.40,272.70,10.10
4228,4.5,35.625,0.000414,4.844761e-08,1,2021,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,340.45,1.60,1.20,314.00,47.65
4229,4.5,35.625,0.000401,4.263339e-08,12,2015,2015-12-01,16838.428,NaN,NaN,NaN,NaN,NaN,NaN,12,312.90,4.00,1.90,289.50,57.50
4230,4.5,35.625,0.000411,3.387692e-08,9,2020,2020-09-01,19669.621,NaN,NaN,NaN,NaN,NaN,NaN,9,337.35,1.00,1.00,308.50,19.45

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   lat                         4231 non-null   float64
 1   lon                         4231 non-null   float64
 2   XCO2 (mol CO2/mol dry)      4231 non-null   float64
 3   XCO2PREC (mol CO2/mol dry)  4231 non-null   float64
 4   Month                       4231 non-null   int64
 5   Year                        4231 non-null   int64
 6   DATE                        4231 non-null   object
 7   population                  3563 non-null   float64
 8   primary_fuel                818 non-null    object
 9   commissioning_year          818 non-null    float64
 10  capacity_mw                 818 non-null    float64
 11  city_ascii                  2212 non-null   object
 12  capital                     1509 non-null   object
 13  city_pop_2022               1626 non-null   float64
 14  month                       4231 non-null   int64
 15  brightness                  4231 non-null   float64
 16  scan                        4231 non-null   float64
 17  track                       4231 non-null   float64
 18  bright_t31                  4231 non-null   float64
 19  frp                         4231 non-null   float64
dtypes: float64(13), int64(3), object(4)
memory usage: 661.2+ KB

In [5]:
data.isnull().sum()

lat                              0
lon                              0
XCO2 (mol CO2/mol dry)           0
XCO2PREC (mol CO2/mol dry)       0
Month                            0
Year                             0
DATE                             0
population                     668
primary_fuel                  3413
commissioning_year            3413
capacity_mw                   3413
city_ascii                    2019
capital                       2722
city_pop_2022                 2605
month                            0
brightness                       0
scan                             0
track                            0
bright_t31                       0
frp                              0
dtype: int64

In [6]:
data['population']

0             NaN
1             NaN
2       76316.340
3       71487.750
4       71487.750
          ...
4226    33335.830
4227          NaN
4228          NaN
4229    16838.428
4230    19669.621
Name: population, Length: 4231, dtype: float64

In [7]:
#FILLING THE NAN VALUE(NOT AVAILABLE VALUE) WITH ZERO\n",
data['population'].fillna(0, inplace=True)

In [8]:
data['population']

0           0.000
1           0.000
2       76316.340
3       71487.750
4       71487.750
          ...
4226    33335.830
4227        0.000
4228        0.000
4229    16838.428
4230    19669.621
Name: population, Length: 4231, dtype: float64

In [9]:
data['city_ascii']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4226    NaN
4227    NaN
4228    NaN
4229    NaN
4230    NaN
Name: city_ascii, Length: 4231, dtype: object

In [10]:
data['capital']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4226    NaN
4227    NaN
4228    NaN
4229    NaN
4230    NaN
Name: capital, Length: 4231, dtype: object

In [11]:
data['city_pop_2022']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
4226   NaN
4227   NaN
4228   NaN
4229   NaN
4230   NaN
Name: city_pop_2022, Length: 4231, dtype: float64

In [12]:
#DROPPING UNWANTED COLUMNS\n",
del data['city_ascii']

In [ ]:
del data['capital']

In [13]:
del data['city_pop_2022']

In [14]:
data

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,capacity_mw,capital,month,brightness,scan,track,bright_t31,frp
0,-5.0,38.750,0.000414,5.421756e-08,2,2021,2021-02-01,0.000,NaN,NaN,NaN,NaN,2,334.72,1.44,1.12,306.50,23.90
1,-5.0,38.750,0.000414,3.570844e-08,3,2021,2021-03-01,0.000,NaN,NaN,NaN,NaN,3,330.70,1.15,1.05,306.35,14.65
2,-5.0,38.750,0.000404,5.427318e-08,3,2017,2017-03-01,76316.340,NaN,NaN,NaN,NaN,3,326.80,1.00,1.00,304.70,13.90
3,-5.0,38.750,0.000398,2.360435e-08,1,2015,2015-01-01,71487.750,NaN,NaN,NaN,NaN,1,325.20,1.10,1.00,304.00,10.10
4,-5.0,38.750,0.000399,1.796053e-08,3,2015,2015-03-01,71487.750,NaN,NaN,NaN,NaN,3,329.43,2.04,1.36,301.93,33.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,4.5,35.000,0.000407,4.341377e-08,11,2018,2018-11-01,33335.830,NaN,NaN,NaN,NaN,11,330.78,1.36,1.14,303.52,32.38
4227,4.5,35.625,0.000415,5.676942e-08,5,2021,2021-05-01,0.000,NaN,NaN,NaN,NaN,5,306.20,2.10,1.40,272.70,10.10
4228,4.5,35.625,0.000414,4.844761e-08,1,2021,2021-01-01,0.000,NaN,NaN,NaN,NaN,1,340.45,1.60,1.20,314.00,47.65
4229,4.5,35.625,0.000401,4.263339e-08,12,2015,2015-12-01,16838.428,NaN,NaN,NaN,NaN,12,312.90,4.00,1.90,289.50,57.50
4230,4.5,35.625,0.000411,3.387692e-08,9,2020,2020-09-01,19669.621,NaN,NaN,NaN,NaN,9,337.35,1.00,1.00,308.50,19.45

In [15]:
data.isnull().sum()

lat                              0
lon                              0
XCO2 (mol CO2/mol dry)           0
XCO2PREC (mol CO2/mol dry)       0
Month                            0
Year                             0
DATE                             0
population                       0
primary_fuel                  3413
commissioning_year            3413
capacity_mw                   3413
capital                       2722
month                            0
brightness                       0
scan                             0
track                            0
bright_t31                       0
frp                              0
dtype: int64

In [16]:
#FILLING THE NAN VALUE(NOT AVAILABLE VALUE) WITH ZERO\n",
data['primary_fuel'].fillna(0, inplace=True)

In [18]:
data['commissioning_year'].fillna(0, inplace=True)

In [19]:
data['capacity_mw'].fillna(0, inplace=True)

In [20]:
data['capital'].fillna(0, inplace=True)

In [17]:
data['primary_fuel']

0       0
1       0
2       0
3       0
4       0
       ..
4226    0
4227    0
4228    0
4229    0
4230    0
Name: primary_fuel, Length: 4231, dtype: object

In [21]:
data.isnull().sum()

lat                           0
lon                           0
XCO2 (mol CO2/mol dry)        0
XCO2PREC (mol CO2/mol dry)    0
Month                         0
Year                          0
DATE                          0
population                    0
primary_fuel                  0
commissioning_year            0
capacity_mw                   0
capital                       0
month                         0
brightness                    0
scan                          0
track                         0
bright_t31                    0
frp                           0
dtype: int64

In [22]:
data

,lat,lon,XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry),Month,Year,DATE,population,primary_fuel,commissioning_year,capacity_mw,capital,month,brightness,scan,track,bright_t31,frp
0,-5.0,38.750,0.000414,5.421756e-08,2,2021,2021-02-01,0.000,0,0.0,0.0,0,2,334.72,1.44,1.12,306.50,23.90
1,-5.0,38.750,0.000414,3.570844e-08,3,2021,2021-03-01,0.000,0,0.0,0.0,0,3,330.70,1.15,1.05,306.35,14.65
2,-5.0,38.750,0.000404,5.427318e-08,3,2017,2017-03-01,76316.340,0,0.0,0.0,0,3,326.80,1.00,1.00,304.70,13.90
3,-5.0,38.750,0.000398,2.360435e-08,1,2015,2015-01-01,71487.750,0,0.0,0.0,0,1,325.20,1.10,1.00,304.00,10.10
4,-5.0,38.750,0.000399,1.796053e-08,3,2015,2015-03-01,71487.750,0,0.0,0.0,0,3,329.43,2.04,1.36,301.93,33.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,4.5,35.000,0.000407,4.341377e-08,11,2018,2018-11-01,33335.830,0,0.0,0.0,0,11,330.78,1.36,1.14,303.52,32.38
4227,4.5,35.625,0.000415,5.676942e-08,5,2021,2021-05-01,0.000,0,0.0,0.0,0,5,306.20,2.10,1.40,272.70,10.10
4228,4.5,35.625,0.000414,4.844761e-08,1,2021,2021-01-01,0.000,0,0.0,0.0,0,1,340.45,1.60,1.20,314.00,47.65
4229,4.5,35.625,0.000401,4.263339e-08,12,2015,2015-12-01,16838.428,0,0.0,0.0,0,12,312.90,4.00,1.90,289.50,57.50
4230,4.5,35.625,0.000411,3.387692e-08,9,2020,2020-09-01,19669.621,0,0.0,0.0,0,9,337.35,1.00,1.00,308.50,19.45